body {
    margin: 0;
    padding: 1.75rem 0 4rem 0;    
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    max-width: 71.125rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    border-radius: 1.25rem;
    background-color: hsl(226, 25%, 17%);
    align-items: center;
}

main {
    max-width: 73.125rem;
}

header,
main {
    width: 100%;
    margin: 0 auto;
}



.toggle-theme {
    padding: 1.5rem;
    border-radius: 1rem;    
    display: flex;
}



main {
    font-family: 'Noto Sans', sans-serif;    
}

main .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0 1rem 0;
}

.filter-wrapper button:nth-child(2) {
    margin: 0 0.75rem;
}

button {
    outline: none;
}

.toggle-theme {
    border: none;
}

.filter-wrapper button,
.extension button {
    border-radius: 3rem;
    background-color: hsl(225, 23%, 24%);
    border: 1px solid hsl(226, 11%, 37%);    
    padding: 0.5rem 1.25rem;
    font-size: 1.3rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
    width: 100%;
}

.extension {    
    border: 1px solid hsl(226, 11%, 37%);
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.extension button {
    background: none;
    font-size: 0.9rem;
}

.extension>div {
    display: flex;
    flex-direction: row;
}

.extension h3 {
    margin: 0;
}

.extension>div:first-child {
    gap: 1rem;
    align-items: flex-start;
}

.extension>div:last-child {
    justify-content: space-between;
    align-items: center;
}


.active {
    background-color: hsl(3, 71%, 56%) !important;
    color: hsl(227, 75%, 14%) !important;
    border-color: hsl(3, 86%, 64%) !important;
}

button:hover {
    cursor: pointer;
}

/* Checkbox */
.toggle {
    position: relative;
    display: inline-block;
    width: 2.25rem;
    height: 1.25rem;
    border-radius: 3rem;
}

.toggle input {
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
}

.toggle label {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: hsl(226, 11%, 37%);
    border-radius: 1rem;
    transition: background-color 0.3s;
}

.toggle label::before {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    left: 3px;
    top: 3px;
    background-color: hsl(200, 60%, 99%);
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle input:checked+label {
    background-color: hsl(3, 86%, 64%);
}

.toggle input:checked+label::before {
    transform: translateX(1rem);
}

/* Focus */
button:focus, .toggle-theme:focus, .toggle:focus {
    outline: 2px solid hsl(3, 71%, 56%);
    border: 2px solid hsl(227, 75%, 14%);
}

/* Theme */
.toggle-theme.dark-theme {
    background: url('icon-sun.svg') no-repeat center, hsl(225, 23%, 24%);
}

.toggle-theme.light-theme {
    background: url('icon-moon.svg') no-repeat center, hsl(0, 0%, 78%);
}

body.dark-theme {
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    color: hsl(200, 60%, 99%);
}

body.light-theme {
    background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    color: hsl(227, 75%, 14%);
}

.logo>svg>path.dark-theme {
    fill: hsl(200, 60%, 99%);
}

.logo>svg>g>path.dark-theme {
    fill: hsl(3, 86%, 64%);
}

.logo>svg>path.light-theme {
    fill: #091540;
}

.logo>svg>g>path.light-theme {
    fill: #C7231A;
}

.extension.dark-theme, header.dark-theme {
    background-color: hsl(226, 25%, 17%);
}

.extension.light-theme, header.light-theme {
    background-color: hsl(200, 60%, 99%);
}

.filter-wrapper button.dark-theme, .extension button.dark-theme {
    color: hsl(200, 60%, 99%);
}

.filter-wrapper button.light-theme, .extension button.light-theme {
    color: hsl(227, 75%, 14%);
    background-color: hsl(200, 60%, 99%);
    border: 1px solid hsl(0, 0%, 78%);
}

.ext-description.dark-theme {
    color: hsl(0, 0%, 78%);
}

.ext-description.light-theme {
    color: hsl(226, 11%, 37%);
}



/* Mobile */
@media screen and (max-width: 700px) {
    body {
        padding: 1rem;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
    }

    header {
        width: calc(100% - 2rem) !important;
    }

    main .header {
        flex-direction: column;
    }

}